{% extends 'baseRestau.html.twig' %}

{% block contenu %}
    <h1>liste des menus</h1>
    {% for menus in menu %}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{menus.nom_menu }}</h5>
                <p class="card-text"> {{menus.nombre_plat }} Plat(s)</p>
                <p class="card-text"> Id: {{ menus.id }}</p>
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>

    {% endfor %}
{% endblock %}

