{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifier Un Utilisateur</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_users_index') }}">Revenir A La Liste</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
